@import '../../../../../mixins/breakpoints.scss';

@include for-size(phone-only) {
  @import './scss/phone.scss';
}

@include for-size(tablet-portrait-up) {
  @import './scss/tablet-portrait.scss';
}

@include for-size(tablet-landscape-up) {
  @import './scss/tablet-landscape.scss';
}

@include for-size(desktop-up) {
  @import './scss/desktop.scss';
}

@include for-size(big-desktop-up) {
  @import './scss/big-desktop.scss';
}

.drop {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border-radius: 0.1em;

  background-color: #242424;
  color: #ffffff;

  font-weight: bold;

  margin: 0.5em 0 0.5em 0;
  padding: 0.5em;

  height: 6em;
  width: 100%;
  box-sizing: border-box;
}
