<header>
  <h1><a class="title" [routerLink]="'/'">{{ title }}</a></h1>
  <section [ngClass]="['buttons', (buttonsHidden ? 'hidden' : '')]">
    <ng-container *ngIf="isLoggedIn">
      <p class="wrapper">Save Mode</p>
      <label class="wrapper switch">
        <input (click)="toggleShowAdult()" [checked]="!showAdult" type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="dropdown">
        
        <app-badge class="dropdown" *ngIf="userInfo" [img]="userInfo.photoURL"></app-badge>
        <div class="dropdown-content">
          <a class="menuitem" [routerLink]="link ? ['/userinfo', link] : ['/profile']">Welcome, <strong>{{ userInfo.displayName }}</strong></a>
          <button class="menuitem" (click)="moveToProfileEdit()">View profile</button>
          <button class="menuitem" (click)="logOut()">Log out</button>
        </div>
      </div>
    </ng-container>
  </section>
  <button class="hider" (click)="hideButtons()">{{ buttonsHidden ? 'Show' : 'Hide' }} buttons</button>
</header>
<div class="shown" *ngIf="showImg.isShown | async" (click)="showImg.setShown(false)">
  <img [src]="showImg.imagePath | async" alt="">
</div>
<div class="router">
  <router-outlet>
    <app-spinner *ngIf="loading"></app-spinner>
  </router-outlet>
</div>
